<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="mise_en_location"></ion-icon>
		</button>
		<ion-title>Rendre ma voiture disponible</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<form (ngSubmit)="logForm()">
		<ion-list>

			<ion-label color="primary">Choisir une voiture</ion-label>
			<!-- If the user only has one vehicule -->
			<div *ngIf="vehicules.length == 1">
				<!-- Empty disabled select -->
				<ion-select [(ngModel)]="vehiculePicked" name="vehicules-disabled" [placeholder]="vehiculePicked.model" [disabled]="true"></ion-select>
			</div>
			<!-- Else -->
			<div *ngIf="vehicules.length != 1">
				<ion-select [(ngModel)]="vehiculePicked" name="vehicules-enabled" [placeholder]="vehiculePicked.model" [disabled]="false">
					<ion-option *ngFor="let vehicule of vehicules">{{vehicule.model}}</ion-option>
				</ion-select>
			</div>

			<ion-label color="primary">Heure limite</ion-label>
			<!-- Time Picker https://www.npmjs.com/package/amazing-time-picker -->
			<input atp-time-picker [(ngModel)]="limit" name="time-limit" />

			<ion-label color="primary">Rayon de recupération autour de ma position: {{range}}m</ion-label>

			<ion-range min="100" max="1000" step="100" [(ngModel)]="range" name="range-limit">
				<ion-label range-left>100m</ion-label>
				<ion-label range-right>1km</ion-label>
			</ion-range>

			<button ion-button type="submit" block>Confirmation</button>
		</ion-list>
	</form>
</ion-content>